<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="app">
        <div class="logo">
          <img :src="logo" alt="logo" />
        </div>
        <div class="add">
          <input
            @keyup.enter="createTask"
            type="text"
            placeholder="New Task"
            v-model.trim="newString"
          />
          <button @click="createTask">Add</button>
        </div>
        <p class="error" v-if="errorString">{{errorString}}</p>
        <p class="success" v-else>Task added successfully!</p>
        <div class="list">
          <ul>
            <li v-for="(task, index) in tasks" class="task">
              <span>{{task.text}}</span>
              <button @click="deleteTask(index)">Delete</button>
              <input type="checkbox" @click="setTask(task)" />
            </li>
          </ul>
        </div>
        
    <script src="./assets/js/app.js"></script>
  </body>
</html>
